@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
@import url("https://fonts.cdnfonts.com/css/mechanismo-2");

/* ---------------- Classes ------------------------- */

/* -------------- */
* {
  margin: 0;
  padding: 0;
}
.initial-text{
  margin-top: 40px;
  color: #fff;
  font-size: 3.5rem;
}
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url('https://fonts.cdnfonts.com/css/wynford');

/* Bouncing Animation Stuff - Please ise mat chedna bohot ro roke bani hai ---------------------------------------------------------------------- */
/* It is very delicate */
.bouncing-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
}

.bouncing-text {
  position: relative;
  display: flex;
  font-size: 70px;
  font-family: arial black;
  letter-spacing: 0.6rem;
}
/* For prizes sections */
.bouncing-box-prizes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.bouncing-text-prizes {
  position: relative;
  display: flex;
  margin-top: 3%;
  font-size: 70px;
  font-family: arial black;
  letter-spacing: 0.6rem;
}

.c,
.o,
.m,
.i,
.n,
.g,
.s,
.o1,
.o2,
.n1 {
  color: rgb(27, 175, 8);
  text-shadow: 0 3px rgb(27, 175, 8), 0 5px rgb(27, 175, 8), 0 7px rgb(27, 175, 8);
  font-family: "Mochiy Pop P One", sans-serif;
}

.t,
.o3,
.b,
.e,
.a,
.n2,
.n3,
.o4,
.u,
.n4,
.c1,
.e1,
.a1,
.b1,
.d {
  color: #4cc9f0;
  text-shadow: 0 3px rgb(27, 175, 8), 0 5px rgb(27, 175, 8), 0 7px rgb(27, 175, 8);
  font-family: "Mochiy Pop P One", sans-serif;
}

.dark-font {
  color: rgb(27, 175, 8);
  text-shadow: 0 3px rgb(27, 175, 8), 0 5px rgb(27, 175, 8), 0 7px rgb(27, 175, 8);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.c {
  animation: bounce 2s ease infinite;
}

.o {
  animation: bounce 2s ease infinite 0.1s;
}

.m {
  animation: bounce 2s ease infinite 0.2s;
}

.i {
  animation: bounce 2s ease infinite 0.3s;
}

.n {
  animation: bounce 2s ease infinite 0.4s;
}

.g {
  animation: bounce 2s ease infinite 0.5s;
}
.s {
  animation: bounce 2s ease infinite 0.1s;
}
.o1 {
  animation: bounce 2s ease infinite 0.2s;
}
.o2 {
  animation: bounce 2s ease infinite 0.3s;
}
.n1 {
  animation: bounce 2s ease infinite 0.4s;
}

/* ------------------------------------------------------------- */

.t {
  animation: bounce 2s ease infinite;
}

.b1 {
  animation: bounce 2s ease infinite 0.1s;
}
.a1 {
  animation: bounce 2s ease infinite 0.2s;
}

.o3 {
  animation: bounce 2s ease infinite 0.2s;
}

.b {
  animation: bounce 2s ease infinite;
}

.e {
  animation: bounce 2s ease infinite 0.1s;
}

.a {
  animation: bounce 2s ease infinite;
}

.n2 {
  animation: bounce 2s ease infinite 0.1s;
}
.n3 {
  animation: bounce 2s ease infinite 0.2s;
}
.o4 {
  animation: bounce 2s ease infinite 0.3s;
}
.u {
  animation: bounce 2s ease infinite 0.4s;
}
.n4 {
  animation: bounce 2s ease infinite 0.5s;
}
.c1 {
  animation: bounce 2s ease infinite 0.6s;
}
.e1 {
  animation: bounce 2s ease infinite 0.7s;
}
.d {
  animation: bounce 2s ease infinite 0.8s;
}
.t {
  animation: bounce 2s ease infinite 0.1s;
}
.b1 {
  animation: bounce 2s ease infinite 0.2s;
}
.a1 {
  animation: bounce 2s ease infinite 0.3s;
}

/* ---------------------------------- */

.bouncing-text:before,
.bouncing-text:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 5px;
  border-radius: 50%;
  top: 82px;
  z-index: -1;
}

.shadow,
.shadow-two {
  position: absolute;
  top: 82px;
  z-index: -1;
}

.shadow:before,
.shadow:after,
.shadow-two:before,
.shadow-two:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 5px;
  border-radius: 50%;
  top: 0;
}

.bouncing-text:before {
  left: 0;
  animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0.4);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

.bouncing-text:after {
  left: 57px;
  animation: scale 1s linear infinite 0.1s;
}

.shadow:before {
  left: 116px;
  animation: scale 1s linear infinite 0.2s;
}

.shadow:after {
  left: 175px;
  animation: scale 1s linear infinite 0.3s;
}

.shadow-two:before {
  left: 232px;
  animation: scale 1s linear infinite 0.4s;
}

.shadow-two:after {
  left: 285px;
  animation: scale 1s linear infinite 0.5s;
}

.small-prizes {
  visibility: hidden;
}
.small-text-prizes {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  margin-top: 10%;
}

/*_________________________________________________________________________________________________________ */

@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .bouncing-text {
    font-size: 1.3rem;
  }
  .bouncing-box {
    /* padding-top: 20%;
    margin-left: 2rem;
    margin-right: 2rem; */
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
  }
  .bouncing-text-prizes {
    font-size: 0.8rem;
  }
  .link {
    width: 4rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .bouncing-text {
    font-size: 2.5rem;
  }
  .bouncing-box-prizes {
    flex-direction: row;
    margin-top: 8%;
  }
  .bouncing-box {
    padding-top: 20%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .bouncing-text-prizes {
    font-size: 0.8rem;
  }
  .link {
    width: 4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bouncing-box-prizes {
    flex-direction: row;
    margin-top: 8%;
  }
  .bouncing-text {
    margin-bottom: 70%;
  }
  .bouncing-box-prizes {
    flex-direction: column;
  }
}


/* Small prizes fix */

@media screen and (max-width: 1024px) {
  .small-prizes {
    visibility: visible;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .small-text-prizes{
    text-align: center;
  }
  .bouncing-box-prizes {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding-top: 0;
  }
}


@media screen and (min-width: 1025px) {
  .small-prizes {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .bouncing-box-prizes {
    visibility: visible;
  }
}


/* ------------------------------------------------------------------------------- */
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
video{
  width: 100vw;
  object-fit: cover;
  min-height: 100vh;
}
#landing-page {
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;
  margin-bottom: 0;
  min-height: 100vh;
}

#videoBG {
  position:fixed;
  z-index: -1;
}
.nav-font {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}
.text-white {
  color: #ffffff;
}

.num {
  font-size: 4rem;
}

.uni {
  font-size: 1.2rem;
  font-weight: 300;
}

.box-cont {
  background-color: #ffffff23;
  border-radius: 5%;
}

.hide-item {
  visibility: hidden;
}

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(2, 99, 23);
  background: linear-gradient(
    176deg,
    rgba(2, 99, 23, 0.4) 23%,
    rgba(8, 56, 19, 0.4) 33%,
    rgba(0, 0, 0, 0.4) 55%
  );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow: hidden;
}

.sidebar a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 175%;
  color: #aaa9a9;
  display: block;
  transition: 0.3s;
  overflow: hidden;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar p {
  text-decoration: none;
  font-size: 175%;
  color: #aaa9a9;
  display: block;
  transition: 0.3s;
  overflow: hidden;
  margin-top: 0;
}
.sidebar p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.landing-logo {
  width: 75%;
  margin-top: 15%;
  transform: translateY(-20%);
}
.openbtn {
  font-size: 35px;
  background: transparent;
  color: rgb(0, 255, 34);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  position:fixed;
  z-index: 99;
}

.dev-btn {
  background-color: #ffffff33;
  font-family: "Montserrat", sans-serif;
}

canvas {
  width: 50%;
  height: 50%;
  display: block;
  position: relative;
  background: transparent;
}

.Countdown {
  color: rgb(0, 255, 21);
  overflow: hidden;
  text-align: center;
  display: table-cell;
}

.btnsize {
  background-color: #f1f1f181;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 14px;
  width: 10%;
  height: 10%;
  margin-top: 2%;
}

.badge-btn {
  background-color: #f1f1f181;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 360px;
  font-family: cursive;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  text-shadow: 0 0 7px #8eff24, 0 0 7px #0f0f0f;
}
/* Get your badge css */
.anchor-rem {
  text-decoration: none;
  color: white;
}
.badge-btn:hover {
  background-color: #00000098;
}
.nav-font-small {
  font-family: "Montserrat", sans-serif;
}

.btnsize:hover {
  background-color: #313131;
}
.flex-grid {
  display: flex;
}
.col {
  width: 50%;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

@media (max-width: 500px) {
  .short-div {
    align-items: flex-start;
  }
  .openbtn {
    font-size: 20px;
    background: transparent;
    color: rgb(0, 255, 34);
    padding: 5px 10px;
    border: none;
    width: 50px;
  }

  .openbtn:hover {
    background-color: #444;
  }
}

/* MediaQueries */
@media screen and (max-width: 400px) {
  .landing-logo {
    width: 90%;
  }
  .sidebar {
    width: 0px;
    background: rgb(2, 99, 23);
    background: linear-gradient(
      176deg,
      rgba(2, 99, 23, 0.8) 23%,
      rgba(8, 56, 19, 0.8) 33%,
      rgba(0, 0, 0, 0.8) 55%
    );
  }
  .btnsize {
    margin-top: 5%;
  }
  .Countdown {
    margin-top: 10%;
    margin-left: 0%;
  }
  .btnsize {
    width: 25%;
  }
  .sidebar a {
    font-size: 100%;
    padding: 20px 20px 2px 14px;
  }
  .badge-btn {
    font-size: 60%;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .sidebar a {
    font-size: 100%;
    padding: 20px 20px 2px 14px;
  }
  .sidebar {
    width: 0px;
    background: rgb(2, 99, 23);
    background: linear-gradient(
      176deg,
      rgba(2, 99, 23, 0.9) 23%,
      rgba(8, 56, 19, 0.9) 33%,
      rgba(0, 0, 0, 0.9) 55%
    );
  }
  .btnsize {
    margin-top: 5%;
  }
  .Countdown {
    margin-top: 10%;
    margin-left: 0%;
  }
  .btnsize {
    width: 25%;
  }
  .badge-btn {
    font-size: 60%;
  }
  #landing-page {
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .sidebar a {
    font-size: 80%;
    padding: 20px 20px 2px 14px;
  }
  .sidebar {
    width: 0;
  }
  .btnsize {
    margin-top: 5%;
    width: 25%;
  }
  .landing-logo {
    margin-top: 8%;
  }
  .Countdown {
    margin-top: 10%;
    margin-left: 18%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar a {
    padding: 4px 4px 4px 10px;
    font-size: 120%;
  }
  .sidebar {
    width: 0;
  }
  .btnsize {
    margin-top: 0%;
    width: 17%;
  }
  .Countdown {
    margin-left: 0%;
    display: table-cell;
  }
  canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: transparent;
    margin-left: 50%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1392px) {
  .btnsize {
    margin-top: 1%;
    width: 13%;
  }
  .sidebar a {
    padding: 20px 4px 4px 10px;
    font-size: 130%;
  }
}

@media screen and (min-width: 1392px) {
  .sidebar a {
    font-size: 140%;
    padding: 8px 8px 18px 40px;
  }
  .sidebar {
    width: 0;
  }
  .btnsize {
    width: 13%;
  }
  #landing-page {
    width: 100vw;
    height: 127vh;
  }
}
